<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Details Display</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="row"></div>
<h1 class="text-center">Update Students</h1>
<div class="card-body">
<form th:action="@{/students/{id}(id=${student.id})}" th:object="${student}" method="post">
<div class="form_group">
<label>Student FirstName:</label>
<input 
type="text"
name="firstName"
th:field="*{firstName}"
class="form-control"
placeholder="Enter The Student firstName"
/>
</div>
<div class="form_group">
<label>Student MiddleName:</label>
<input 
type="text"
name="middleName"
th:field="*{middleName}"
class="form-control"
placeholder="Enter The Student middleName"
/>
</div>
<div class="form_group">
<label>Student LastName:</label>
<input 
type="text"
name="lastName"
th:field="*{lastName}"
class="form-control"
placeholder="Enter The Student lastName"
/>
</div>
<div class="form_group">
<label>Student phone:</label>
<input 
type="text"
name="phone"
th:field="*{phone}"
class="form-control"
placeholder="Enter The Student phone"
/>
</div>
<div class="form_group">
<label>Student Email:</label>
<input 
type="text"
name="email"
th:field="*{email}"
class="form-control"
placeholder="Enter The Student email id"
/>
</div>
<div class="footer-body">
<button type="submit" class="btn-btn-primary">Submit</button>
</div>
</form>
</div>
</body>
</html>